.sidebar {
  position: fixed;
  left: -25%;
  z-index: 3;
  width: 25%;
  height: 100%;
  padding: 63px 70px;
  background: #FFFFFF;
  transition: 0.3s;
}

.sidebar.open {
  left: 0;
}

.background {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.3;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.nav a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-decoration: none;
  color: #000000;
}

.nav a:hover {
  color: #58ACFF;
}

.nav a.active {
  text-decoration: underline;
  color: #0059B2;
}

.close {
  position: absolute;
  top: 16px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.close img {
}
