.buttonsContainer {
  display: flex;
  gap: 21px;
  margin-top: 27px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.clock {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.watch {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  cursor: default;
}

.watch strong {
  font-weight: 600;
}

.more {
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}