.greetingForm {
  display: flex;
  flex-direction: column;
  max-width: 462px;
}

.inputAndButtonContainer {
  display: flex;
  gap: 12px;
  margin-top: 9px;
}

.error {
  margin-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CC0000;
}

.input {
  padding: 8px 12px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  outline: none;
}

.input:focus {
}

.errorInput {
  border: 1px solid #CC0000;
}

.button {
  align-self: flex-start;
  padding: 8px 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #0066CC;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
  opacity: 0.5;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.greeting {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

}
