.button {
}

.disabled {
  background: white;
}

.secondary {
  background: lightgrey;
}

.default {
  background: blue;
}

.red {
  background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
